<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddBook</title>
</head>
<body>

<form th:action="@{/addbook}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" maxlength="15" required>
    </div>
    <div>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" required>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add Book</button>
    </div>

</form>
<a th:href="@{/home?page=1}" class="btn btn-primary">See list of all books</a><br>
<a th:href="@{/borrowedbooks?page=1}" class="btn btn-primary">See list of borrowed books</a><br>
<a th:href="@{/freebooks?page=1}" class="btn btn-primary">See list of free books</a><br>
</body>
</html>